html{
    position: relative;
    min-height: 100%;
}

body{
    background-image: url("../assets/images/Jersey-Shore-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 50px; */
    /* opacity: 0.5; */
    
}
.container{
    margin-bottom: 75px;
   
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    text-align: center;
}

.jumbotron{
    font-family: 'Francois One', sans-serif;
    padding: 30px; 
}

.img-size{
    width: 100%
}

.location-row{
    display:flex;
    float:left;

}
#hotel0{
        width:100px;
        height:100px;
        background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;

}

#hotel1{
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;

}
#hotel2{
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;

}